@page "/put"
@inject IDataService Service

<h3>Put Data</h3>

<div class="user-input">

    <div class="input id-input">
        <RadzenFormField AllowFloatingLabel="false" Text="Id">
            <RadzenNumeric @bind-Value="@CurrentId" Step="1" />
        </RadzenFormField>
    </div>

    <div class="divider">

    </div>
    
    <div class="input">
        <RadzenFormField AllowFloatingLabel="false" Text="Item Name">
            <RadzenTextBox @bind-Value="@CurrentItem.Name" />
        </RadzenFormField>
    </div>

    <div class="input">
        <RadzenFormField AllowFloatingLabel="false" Text="Item Description">
            <RadzenTextBox @bind-Value="@CurrentItem.Description" />
        </RadzenFormField>
    </div>
    <div class="input">
        <RadzenFormField AllowFloatingLabel="false" Text="Item Price">
            <RadzenNumeric @bind-Value="@CurrentItem.Price" Step="0.5" />
        </RadzenFormField>
    </div>
    
    <div class="button">
        <RadzenButton Style="width: 100%;" Click=@UpdateItem Text="Update Item" />
    </div>
</div>

<span class="info"><b>Info:</b> @Message</span>


@code {
    private string Endpoint = "Store";

    public int CurrentId { get; set; }
    public StoreItem CurrentItem = new StoreItem();

    public string Message { get; set; } = "";

    public async Task UpdateItem()
    {

        ///Make Sure Id is automatically set
        CurrentItem.Id = CurrentId;

        var temp = await Service.UpdateStoreItem(Endpoint, CurrentId, CurrentItem);

        Message = temp.ToString();
    }
}
